html, body {
	margin: 0px;
	padding: 0px;
	font-family: 'Helvetica Neue';
	line-height: 1.5;
}

* {
	box-sizing: border-box;
}

p {
	max-width: 30em;
	margin: auto;
}

h1 {
	color: #990000;
	text-transform: uppercase;
	text-align: center;
}

div.target {
	padding: 50px 0px;
}

blockquote {
	padding: 100px 0px;
	position: relative;
	color: white;
	font-weight: bold;
	overflow: hidden;
	border: 1px solid green;

	> div.bg {
		background-image: url('bgimg.jpg');
		background-size: cover;
		background-position: bottom center;
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: 0px;
		left: 0px;
		z-index: 1;
		will-change: transform;
	}

	> div.content {
		position: relative;
		z-index: 2;
	}
}